name: Build README.md

on:
    schedule: # execute every 12 hours
        - cron: "0 */12 * * *"
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]
    workflow_dispatch:

jobs:
    snake-gif:
        name: Jobs to update datas
        runs-on: ubuntu-latest
        steps:
            # Snake Animation
            - uses: Platane/snk@master
              id: snake-gif
              with:
                  github_user_name: guionardo
                  svg_out_path: dist/github-contribution-grid-snake.svg

            - uses: crazy-max/ghaction-github-pages@v4.2.0
              with:
                  target_branch: output
                  build_dir: dist
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    devcard:
        runs-on: ubuntu-latest
        steps:
            - name: devcard
              uses: dailydotdev/action-devcard@3.2.1
              with:
                  user_id: ggqRp2fVe
                  commit_message: "[AUTO COMMIT] Update devcard"
                  #   devcard_id: ${{ secrets.DEVCARD_ID }}

    build:
        runs-on: ubuntu-latest
        needs: [snake-gif, devcard]
        steps:
            - uses: actions/checkout@v6

            - name: "Set up Python"
              uses: actions/setup-python@v6
              with:
                  python-version-file: "pyproject.toml"

            - name: Install UV
              uses: astral-sh/setup-uv@v7

            - name: Install the project
              run: uv sync --locked --all-extras --dev

            - name: Build
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  uv run python main.py

            - name: Commit and push changes
              run: |
                  git config --local user.email "github-actions[bot]@users.noreply.github.com"
                  git config --local user.name "github-actions[bot]"
                  git add README.md
                  git diff --quiet && git diff --staged --quiet || (git commit -m "Update README.md" && git push)
